.addAlunoSection {
  padding: 2rem 0;
}

.form input {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  border: 0.1rem solid #000;
}

.form label {
  margin-top: 0.5rem;
  display: block;
  margin-bottom: 0.25rem;
}

.form input:hover,
.form input:focus {
  outline: none;
  border-color: brown;
}

.form button {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  border: none;
  background-color: brown;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: var(--transition);
}

.form button:hover {
  background-color: rgb(124, 29, 29);
}

@media (max-width: 1400px) {
  .form {
    padding: 0 4rem;
  }
}
