:root {
  --border-radius: 0.25rem;
  --transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
}

.app {
  min-height: 87vh;
}

.errorMessage {
  color: red;
  margin-top: 1rem;
}

@media (max-width: 400px) {
  html {
    font-size: 80%;
  }
}
